body{
	background-color: black !important ;
	color:white !important;
}
.header{
	text-align: center;
	color: white;
}
.description{
	/*float: left;*/
	/*margin: 0 !important;*/
	/*margin-left: 2% !important;*/
	color: white;
	width: 95%;
	/*margin-left: 5%;*/
	/*display: inline-block;*/
}
.description h1{
	text-align: center;
}
.description p{
	text-align: left;
}
#ordinalSlider{
	color: white;
}
#bubbles{
	height: 60%;
	width: 50%;
}