body{
	background-color: #F2F9F6 !important ;
	color:black !important;
	font-family: 'Libre Baskerville' !important;
}
.header{
	text-align: center;
	color: black;
	font-family: 'Rubik';
	font-size: 40px;
}
.description{
	/*float: left;*/
	/*margin: 0 !important;*/
	/*margin-left: 2% !important;*/
	color: black;
	width: 90%;
	/*margin-left: 5%;*/
	/*display: inline-block;*/
	padding: 2em 0em 0 1em;
	height: 32em;
	margin: auto;
}

.description h1{
	text-align: left;
	line-height: 1em;
	font-family: 'Rubik';
	font-size: 28px;
}
.description p{
	text-align: justify;
	padding: 0 2em;
	line-height: 1.25em;
	font-size: 12px;
}
#ordinalSlider{
	color: black;
}

.slider {
	max-width: 90%;
	margin: auto;
}

#bubbles{
	height: 75%;
	/*width: 50%;*/
}

.littlerefugees {
	width: 75%; 
	/*20 refugees width*/
	margin: auto;
	position: relative;
}

.littlerefugees img {
	width: 12px !important;
	padding: 1px;
}

.numbers h1 {
	text-align: left;
	line-height: 1em;
	font-family: 'Rubik';
	font-size: 24px;
	margin-left: 2em;
}

.timeline {
	width: 100%;
	display: inline;
}

.timeline h2 {
	font-size: 16px;
	font-family: 'Rubik';
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}


