body{
	background-color: #F2F9F6 !important ;
	color: #2e2e2e !important;
	font-family: 'Libre Baskerville' !important;
}

.welcome {
	margin-top: 5%;
	margin-bottom: 6%;
	width: 100%;
	height: 55%;
	background-image: url('../img/liberty.jpg');
	background-size: cover;
	background-position: center;
}

.welcome-header {
	padding-top: 10%;
	text-align: center;
	color: white;
	font: "brandon-grotesque", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 900;
	letter-spacing: 12px;
}

.welcome-header2 {
	color: white;
	font-size: 15px;
	letter-spacing: 4px;
	text-align: center;
	font-weight: 300;
}

.medium-byline {
	padding-top: 20%;
	color: #2e2e2e;
}

.raw-page {
	width: 85%;
	border-radius: 6px;
	box-shadow: inset 0 0 1px rgba(255,255,255,.3);
	border: 1px solid rgba(0,0,0,.2);
	background-clip: padding-box;
}

ul {
	font-size: 20px;
}

.welcome-2 {
	padding-top: 4%;
	font-size: 28px;
}


.description{
	/*float: left;*/
	/*margin: 0 !important;*/
	/*margin-left: 2% !important;*/
	color: black;
	width: 90%;
	/*margin-left: 5%;*/
	/*display: inline-block;*/
	padding: 2em 0em 0 1em;
	height: 26em;
	margin: auto;
}

.description h1{
	text-align: left;
	line-height: 1em;
	font-family: 'Rubik';
	font-size: 28px;
}
.description p{
	text-align: justify;
	padding: 0 2em;
	line-height: 1.25em;
	font-size: 12px;
}
#ordinalSlider{
	color: black;
}

.slider {
	max-width: 90%;
	margin: auto;
}

#bubbles{
	height: 75%;
	/*width: 50%;*/
}

.littlerefugees {
	width: 75%; 
	/*20 refugees width*/
	margin: auto auto 1em;
	position: relative;
}

.littlerefugees img {
	width: 12px !important;
	padding: 1px;
}

.numbers h1 {
	text-align: left;
	line-height: 1em;
	font-family: 'Rubik';
	font-size: 24px;
	margin-left: 2em;
}

.timeline {
	width: 100%;
	display: inline;
}

.timeline h2 {
	font-size: 16px;
	font-family: 'Rubik';
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}


	.become{
		color: white;
		/*padding:30%;*/
		background-color: black;
		/*margin-top: 10%;*/
	}
	.logoAlign{
		width: 400px;
	}
	.bigX{
		font-size: 45px;
		font-weight: 900;
		margin: 8% 0;
	}

	.aboutDescript{
		font-size: 18px;

	}
	.aboutSection{
		margin: 15%;
		background-color: red;
	}
	.totalMap{
		margin: 5% 0;
	}

	/*animations*/

	.fromTopIn
	{
		transition: transform 1.0s ease, opacity 1.0s ease;
		transform: translate(0,0);
		opacity: 1.0;
	}

	.fromTopOut
	{
		transition: transform 1.0s ease, opacity 1.0s ease;
		transform: translate(0,-10px);
		opacity: 0.0;
	}
