body {
  background: #111;
  font-weight: 300;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../img/commons.png');
  background-size: cover;
  background-position: center;
  text-rendering: optimizeLegibility;
}
.background:after {
  content: '';
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 1px solid rgba(255,255,255,.2);
}
.wrapper {
  display: none;
}


/* 1. Intro Keyframe
--------------------------------------- */
#intro {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  color: #000;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.top-banner {
  font-size: 40px;
  letter-spacing: 12px;
  line-height: 1.5;
  font-weight: 900;
}
.blurb { 
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 300;
}

/* definition section
--------------------------------------- */
#definition {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
}
.question_and_definition {
  position: fixed;
  top: 63%;
  left: 10%;
  color: white;
  max-width: 22%;
  font-size: 40px;
  letter-spacing: 12px;
  line-height: 1.5;
  font-weight: 900;
}
.question,
.definition1,
.definition2,
.definition3,
.definition4,
{
  opacity: 0;
}

.raw-page {
  position: fixed;
  width: 45%;
  border-radius: 6px;
  box-shadow: inset 0 0 1px rgba(255,255,255,.3);
  border: 1px solid rgba(0,0,0,.2);
  background-clip: padding-box;
}
#mediumHomepage {
  top: 100%;
  right: 5%;
}
#mediumProfile {
  left: 100%;
  top: 10.5%;
}
/* .iphone {
  position: fixed;
  right: 40%;
  top: 102%;
  width: 16%;
}
.iphone-frame {
  position: relative;
  width: 100%;
  height: auto;
  background-size: 100%;
  z-index: 2;
}
.iphone-viewport {
  width: 83.5%;
  height: 69.5%;
  position: absolute;
  top: 14%; 
  left: 8%;
  overflow: hidden;
  background-color: #000;
}
.iphone-content {
  position: absolute;
  top: 18%;
  left: 112%;
  width: 90%;
  font-size: 19px;
  font-weight: 700;
  font-family: "Adobe Caslon Pro", "brandon-grotesque";
} */

/* 3. Step 2
--------------------------------------- */
#facts {
  position: fixed;
  top: 48%;
  left: 10%;
  width: 85%;
  color: #fffff;
}

.three_facts {
  font-size: 29px;
  font-weight: 700;
}

.fact1,
.fact2_1,
.fact2_2,
.defintion_sanctuary1,
.definition_sanctuary2,
.definition_sanctuary3,
.definition_sanctuary4,
.definition_sanctuary5,
.definition_sanctuary6,
.fact3
{
  opacity: 0;
}

/* .two-name-3,
.two-name-5,
.two-name-7
 {
  width: 90%;
  padding-left: 5%;
  font-size: 20px;
  font-weight: 200;
  opacity: 0;
} */