body{
	background-color: black;
}
.header{
	text-align: center;
	color: white;
}
.map{
	position: relative;
	width: 49%; 
	height: 60%;
	display: inline-block;
}
.description{
	float: left;
	color: white;
	display: inline-block;
}
.description h1{
	text-align: center;
}
.description p{
	text-align: left;
}